@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    box-sizing: border-box;
    padding: 50px;
    margin: 0;
  }
  
  .items {
    display: flex;
    justify-content: center;
  }
  
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(131.83deg, #FFFAFA 0%,     #FFF7F7 99.21%);
    width: 300px;
    text-align: center;
    height: 300px;
    border-radius: 16px;
    position: relative;
  }
  
  .item:not(:last-child) {
    margin-right: 100px;
  }
  .item::before {
    position: absolute;
    content: "";
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background-image: linear-gradient(312.25deg, #FFC4BC 0%,     rgba(255, 255, 255, 0) 66.19%);
    z-index: -1;
    border-radius: 18px;
  }
  
  .inner {
    background-color: #FFFAF4;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    box-shadow: 0 40px 80px #FBE4E0;
    border-radius: 14px;
  }
  
  .name {
    font-size: 48px;
    margin: 0;
  }